/* TEMPLATE STYLES */

main {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.widget-wrapper {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 2rem;
}

.extra-margins {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.divider-new {
  margin-top: 0;
}

.navbar {
  background-color: #414a5c;
}

footer.page-footer {
  background-color: #414a5c;
  margin-top: 2rem;
}

.contact_form{  
  width: 460px; 
  height: auto;
  border-radius: 10px;
  margin: 0px !important;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}

.direccion{  
  width: 460px; 
  height: auto;
  margin: 15px;
  border-radius: 10px;  
  background-color: #fbfbfb; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #414a5c; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #414a5c; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #414a5c; 
  border-color: #414a5c; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #414a5c; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #414a5c;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #414a5c;
}


::-webkit-textarea-placeholder {
 color: #414a5c;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}